/*************************************************** 
    UTILITIES
****************************************************/
.bordered {
    border-color: #B91450;
    border-radius: 5px;
}
/********************* 
    BACKGROUND COLORS
**********************/
.bg-pink {
    background-color: #B91450;
}

.bg-lightgrey {
    background-color: #b9b9b9;
}
/********************* 
    TEXT
**********************/
.text-pink {
    color: #B91450;
}
/********************* 
    CONTAINERS
**********************/